*/catboost_info 
*/catboost_cached_datasets 
*/catboost_model 
.DS_store
.ipynb_checkpoints
.ipynb_checkpoints/* 
torchkeras.egg-info/*
dist/*
build/*
*.ipynb_checkpoints
torchkeras/__pycache__/
torchkeras/models/__pycache__/
examples/datasets/
__pycache__
examples/*.pt
examples/*.png
examples/*.md 
examples/*.zip
examples/*.parquet
examples/wandb/
torchkeras/ocr/__pycache__/
*/__pycache__
*.pyc
torchkeras/chat/__pycache__/
torchkeras/tools/__pycache__/
examples/*.zip 
examples/*.pt
examples/checkpoint
examples/*.parquet 
examples/*.png
examples/.ipynb_checkpoints
examples/__pycache__/
torchkeras/chat/__pycache__/
.idea
mnist
output_dir
wandb
*.pt
debug.ipynb
cats
ImageCleaner
runs 
checkpoint
*.jpg
*.png
