.DS_store
.ipynb_checkpoints
.ipynb_checkpoints/* 
torchkeras.egg-info/*
dist/*
build/*
torchkeras/__pycache__/
torchkeras/models/__pycache__/
examples/datasets/
examples/*.pt
examples/*.png
examples/*.md 
examples/wandb/
torchkeras/ocr/__pycache__/
torchkeras/chat/__pycache__/
torchkeras/tools/__pycache__/
examples/.ipynb_checkpoints
examples/__pycache__/
torchkeras/chatgpt/__pycache__/
.idea
mnist
output_dir
wandb
*.pt
debug.ipynb
cats
ImageCleaner
runs 
checkpoint
*.jpg
*.png
